@define-extend container {
  display: flex;
  flex: 1 100%;
  align-items: stretch;
  box-sizing: border-box;
}

@define-extend cell {
  display: flex;
  flex: 1 0 auto;
  box-sizing: border-box;
}

.container { @extend container; }
.cell { @extend cell; }
