@import "root";
@import "colors";
@import "media";

@media (--desktop) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.app {
  display: flex;
  position: relative;
  color: $there_we_could_sail;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  padding: 2rem;
}

.content {
  align-content: center;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  &_block {
    flex: 1;
  }
}

@media (--medium) {
  .app {
    padding: 5rem;
  }
}

@media (--desktop) {
  .app {
    width: 90rem;
    margin: 0 auto;
  }
}
